.board-columns {
    display: flex;
}

.board-column-container {
    margin: 0 6px;
}

.board-column-title, .card {
    background-color: rgba(200, 240, 5, .5);
}

.board-column-title {
    margin: 10px 0;
    padding: 6px;
    color: black;
    border: none;
}