/*Add borders for testing purposes*/

/*.board {*/
/*    border: white solid 1px;*/
/*}*/

/*.board-header {*/
/*    border: black solid 1px;*/
/*}*/

/*.board-title-container,*/
/*.board-button-container {*/
/*    border: yellow dashed 1px;*/
/*}*/

/*Real stuff*/

.board-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 3px 6px;
}

.board-header-left {
    display: flex;
    justify-content: space-between;
}

.board-title-container {
    width: 270px;
    display: flex;
    justify-content: space-between;
}

.board-title {
    width: 200px;
    border: rgb(200, 240, 5) solid 2px;
    border-radius: 5px;
    padding: 3px 8px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .5);
    color: rgba(200, 240, 5, 1);
}

.board-title:hover {
    cursor: default;
    background-color: rgba(0, 0, 0, .7);
}

.board-title:focus {
    cursor: text;
    background-color: rgba(0, 0, 0, .7);
}

.board-title::selection {
    background-color: rgba(200, 240, 5, 1);
    color: black;
}

button.save-board-title {
    box-sizing: border-box;
    border: black solid 1px;
    border-radius: 5px;
    width: 60px;
    background-color: rgba(0, 0, 0, .4);
    color: rgb(200, 240, 5);
}

button.save-board-title:hover {
    background-color: rgba(0, 0, 0, .7);
    font-weight: bold;
}

.add-card-container {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
}

.add-card {
    background: none;
    border: none;
    color: white;
    font-size: x-large;
}

button.open-board {
    width: 40px;
    border: rgb(200, 240, 5) solid 1px;
    border-radius: 7px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .5);
    color: rgb(200, 240, 5);
}

button.open-board:hover {
    border: rgb(200, 240, 5) solid 2px;
}