.board-columns {
    display: flex;
}

.board-column-container {
    margin: 0 6px;
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
}

.board-column-title {
    background-color: rgba(200, 240, 5, .5);
    color: black;
    border: none;
    margin: 10px 0;
    padding: 6px;
    text-align: center;
}