/*Add borders for testing purposes*/

/*.board {*/
/*    border: white solid 1px;*/
/*}*/

/*.board-header {*/
/*    border: black solid 1px;*/
/*}*/

/*.board-title-container,*/
/*.board-button-container {*/
/*    border: yellow dashed 1px;*/
/*}*/

/*Real stuff*/

.board-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 3px 6px;
}

.board-title {
    width: 200px;
    border: black solid 1px;
    border-radius: 5px;
    padding: 3px 8px;
    background-color: rgba(200, 240, 5, .5);
}

.rename-board-input {
    width: 200px;
    font-size: 16px;
    color: white;
    border: black solid 1px;
    border-radius: 5px;
    padding: 3px 8px;
    background-color: rgba(200, 240, 5, .5);
}

button.save-board-title {
    width: 60px;
}

button.add-card {
    margin-right: 600px;
}

button.open-board {
    width: 75px;
}

.board-columns {
    display: flex;
}

.board-column-container {
    margin: 0 6px;
}

.board-column-title, .card {
    background-color: rgba(200, 240, 5, .5);
}

.board-column-title {
    margin: 10px 0;
    padding: 6px;
    color: black;
    border: none;
}

.card {
    margin: 5px 0;
    display: flex;
}

.card-title {
    padding: 4px;
    font-size: 14px;
}