.board-columns {
    display: flex;
}

.board-column-container {
    margin: 0 6px;
    flex-basis: 250px;
    min-width: 60px;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.board-column-header {
    display: flex;
    height: 40px;
    margin: 10px 0;
    max-width: 250px;
}

.board-column-title {
    background-color: rgba(0, 0, 0, .5);
    color: var(--soft-grey);
    font-weight: bold;
    border: none;
    text-align: center;
    box-sizing: border-box;
    flex-basis: 250px;
    min-width: 0;
}

.board-column-title:hover {
    cursor: default;
    color: var(--nice-blue);
}

.board-column-title:focus {
    cursor: text;
    color: var(--nice-blue);
}

.board-column-title::selection {
    background-color: var(--nice-blue);
    color: black;
}

.save-column-title {
    box-sizing: border-box;
    width: 70px;
    padding: 6px;
    border: none;
    border-left: black solid 1px;
    background-color: rgba(0, 0, 0, .7);
    color: var(--soft-grey);
}

.save-column-title:hover {
    border-right: var(--nice-blue) solid 2px;
    padding-right: 4px;
    color: var(--nice-blue);
}

.board-column {
    min-height: 50px;
}