/*Add borders for testing purposes*/

/*.board {*/
/*    border: white solid 1px;*/
/*}*/

/*.board-header {*/
/*    border: black solid 1px;*/
/*}*/

/*.board-title-container,*/
/*.board-button-container {*/
/*    border: yellow dashed 1px;*/
/*}*/

/*Real stuff*/

.board-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 3px 6px;
}

.board-title {
    width: 200px;
    border: black solid 1px;
    border-radius: 5px;
    padding: 3px 8px;
    background-color: rgba(200, 240, 5, .5);
    color: black;
}

.board-title:hover {
    cursor: default;
}

.board-title:focus {
    cursor: text;
}

button.save-board-title {
    width: 60px;
}

button.add-card {
    margin-right: 600px;
}

button.open-board {
    width: 75px;
}