.card {
    margin: 0 auto 10px auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
    max-width: 230px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 2px var(--soft-grey);
}

.card-title {
    padding: 4px 10px;
    font-size: 14px;
    border: none;
    min-width: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    color: var(--soft-grey);
}

.card-title:hover {
    cursor: default;
    color: var(--heavy-yellow);
}

.card-title:focus {
    cursor: text;
}

.card-title::selection {
    background-color: var(--heavy-yellow);
    color: black;
}

.card-save-title {
    box-sizing: border-box;
    border: none;
    padding: 5px;
    border-left: black solid 1px;
    background-color: rgba(0, 0, 0, .4);
    color: var(--soft-grey);
}

.card-save-title:hover {
    border-right: var(--heavy-yellow) solid 1px;
    color: var(--heavy-yellow);
    padding-right: 4px;
}

.card-delete {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    color: var(--soft-grey-opaque);
    cursor: pointer;
}

.card-delete:hover {
    color: var(--soft-grey);
}