.card {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    height: 30px;
    max-width: 250px;
    background-color: rgba(200, 240, 5, .5);
}

.card-title {
    padding: 4px;
    font-size: 14px;
    border: none;
    min-width: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.card-title:hover {
    cursor: default;
}

.card-title:focus {
    cursor: text;
}

.card-delete {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    color: black;
    cursor: pointer;
}