@import "colors.css";

.container.create-board
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 475px;
    padding: 10px 10px 10px 0;
    margin-bottom: 20px;
}

.button-container.create-board,
.form-container.create-board:not(.hidden)
{
    display: flex;
    align-items: stretch;
    height: 40px;
}

.input-container.create-board,
.button-container.save-board
{
    display: flex;
    align-items: stretch;
}

button::-moz-focus-inner {
    border: 0;
}

button.create-board {
    box-sizing: border-box;
    width: 170px;
    font-weight: bold;
    color: var(--soft-grey);
    border: black solid 4px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

button.create-board:hover, button.create-board.active {
    border-color: var(--nice-blue);
    color: var(--soft-grey);
}

button.create-board.active:hover {

}

input.create-board {
    background-color: rgba(0, 0, 0, .7);
    color: var(--soft-grey);
    border: none;
    box-sizing: border-box;
    padding-left: 10px;
}

input.create-board::selection {
    background-color: var(--nice-blue);
    color: black;
}

button.save-board {
    box-sizing: border-box;
    width: 66px;
    padding: 6px;
    border: none;
    border-left: black solid 1px;
    background-color: rgba(0, 0, 0, .9);
    color: var(--soft-grey);
}

button.save-board:hover {
    color: var(--nice-blue);
    border-right: var(--nice-blue) solid 2px;
    padding-right: 5px;
}