@import "create-board.css";

#boards {
    background-color: green;
}

.board {
    display: block;
}

.open-board {
    display: block;
    transform: rotate(90deg);
}

.hidden {
    display: none;
}