@import "create-board.css";
@import "board-header.css";
@import "board-columns.css";
@import "card.css";

* {
    font-family: inherit;
}

html {
    background-image: url("../images/chill01.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

body {
    margin: 0 16% 0 8%;
}

.board {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, .4);
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}