<div class="add-column-container">
    <button type="button" class="add-column hidden">
        <span class="add-column-button-inner">
            <span class="plus-sign fas fa-plus-square"></span><span>Column</span>
        </span>
    </button>
    <div class="add-column-form hidden">
        <input type="text" class="new-column" minlength="1" maxlength="100" value="New status"
               data-default="New status">
        <button type="button" class="save-column">Save</button>
    </div>
</div>