<template id="board-template">
    <div class="board">
        <div class="board-header">
            <div class="board-header-left">
                <div class="board-title-container">
                    <input class="board-title" data-board-title="" value="">
                    <button class="save-board-title hidden">Save</button>
                </div>
                {% include 'add-card.html' %}
            </div>
            <div class="board-header-right">
                {% include 'add-column.html' %}
                <button type="button" class="open-board">&#9661;</button>
            </div>
        </div>
        <div class="board-columns hidden"></div>
    </div>
</template>