<template id="board-template">
    <div class="board">
        <div class="board-header">
            <div class="board-header-left">
                <div class="board-title-container">
                    <input class="board-title" data-board-title="" value="">
                    <button class="save-board-title hidden">Save</button>
                </div>
                <div class="add-card-container">
                    <button type="button" class="add-card hidden">
                            <span class="add-card-button-inner">
                                <span class="plus-sign fas fa-plus-square"></span><span>Card</span>
                            </span>
                    </button>
                    <div class="add-card-form hidden">
                        <input type="text" class="new-card" minlength="1" maxlength="100" data-default="New Card"
                               value="New Card"><button type="button" class="save-card">Save</button>
                    </div>
                </div>
            </div>
            <div class="board-header-right">
                <div class="add-column-container">
                    <button type="button" class="add-column hidden">
                            <span class="add-column-button-inner">
                                <span class="plus-sign fas fa-plus-square"></span><span>Column</span>
                            </span>
                    </button>
                    <div class="add-column-form hidden">
                        <input type="text" class="new-column" minlength="1" maxlength="100" value="New status"
                               data-default="New status">
                        <button type="button" class="save-column">Save</button>
                    </div>
                </div>
                <button type="button" class="open-board">&#9661;</button>
            </div>
        </div>
        <div class="board-columns hidden"></div>
    </div>
</template>