<div class="container create-board">
    <div class="button-container create-board">
        <button type="button" class="create-board">Create new board</button>
    </div>
    <div class="form-container create-board hidden">
        <div class="input-container create-board">
            <input type="text" class="create-board" maxlength="100"
                   data-default="New Board" value="New Board" required>
        </div>
        <div class="button-container save-board">
            <button type="button" class="save-board">Save</button>
        </div>
    </div>
</div>