<div class="page-header">
    <div class="page-header-left">
        <h1 id="main-title">BruhMan</h1>
    </div>
    <div class="page-header-right">
        <form id="login-form" action="#">
            <input id="login-username" type="text" placeholder="Your username">
            <input id="login-password" type="text" placeholder="Your password">
            <button id="login-button" type="submit">Log in</button>
        </form>
        <button class="registration-button">Registration</button>
    </div>
</div>