<div class="page-header">
    <div class="page-header-left">
        <h1 id="main-title">BruhMan</h1>
    </div>
    <div class="page-header-right">
        <form id="login-form" class="{{ 'hidden' if session else '' }}" action="#">
            <input id="login-username" type="text" placeholder="Your username" required minlength="3" maxlength="20">
            <input id="login-password" type="password" placeholder="Your password" required minlength="6" maxlength="20">
            <button id="login-button" type="submit">Log in</button>
        </form>
        <div id="logged-in-container" class="{{ 'hidden' if not session else '' }}">
            <div id="logged-in-message">Logged in as <span id="logged-in-as">{{ session.username }}</span></div>
            <button id="logout-button" type="button">Log out</button>
        </div>
        <button class="registration-button">Registration</button>
    </div>
</div>