{% extends 'layout.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
{% endblock %}

{% block title %}Homepage{% endblock %}

{% block content %}

    <!--Modals (hidden by default)-->
    {% include 'feedback.html' %}
    {% include 'registration.html' %}

    <!--Base content-->
    {% include 'header.html' %}
    {% include 'create-board.html' %}
    <div id="boards"></div>

    <!--Templates-->
    {% include 'board.html' %}
    {% include 'board-column.html' %}
    {% include 'card.html' %}

{% endblock %}