<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
        <h1>ProMan</h1>
        <div class="container create-board">
            <button type="button" class="create-board">Create new board</button>
            <form action="{{ url_for('create_board') }}" class="create-board hidden">
                <input type="text" name="title" maxlength="100" required>
                <button type="submit">Save</button>
            </form>
        </div>
        <div id="boards">Boards are loading...</div>

        <template id="board-template">
            <div class="board">
                <div class="board-header">
                    <div class="board-title"></div>
                    <button type="button" class="add-card"></button>
                    <button type="button" class="open-board"></button>
                </div>
                <div class="board-columns"></div>
            </div>
        </template>

        <template id="board-column-template">
            <div class="board-column"></div>
        </template>

        <template id="card-template">
            <div class="card">
                <div class="card-title"></div>
                <button type="button" class="card-delete"></button>
            </div>
        </template>
    </body>
</html>