<div class="registration-outer hidden">
    <div class="registration-modal">
        <div class="registration-content">
            <h1 class="registration-heading">Registration</h1>
            <form class="registration-form" action="#">
                <label for="username">Username:</label>
                <input id="username" type="text" minlength="3" maxlength="20" required>
                <label for="password">Password:</label>
                <input id="password" type="password" minlength="6" maxlength="20" required>
                <label for="password-confirm">Confirm password:</label>
                <input id="password-confirm" type="password" minlength="6" maxlength="20" required>
                <div class="modal-buttons">
                    <button id="register" type="submit" disabled>Register</button>
                    <button class="close-registration-button" type="button">Close</button>
                </div>
            </form>
            <div class="registration-footer">
            </div>
        </div>
    </div>
</div>